<div class="mt-4">
    <form action="" method="post">
        <div class="form-group">
            <label for="search-input">Từ khóa</label>
            <input type="text" name="p" class="form-control" id="" placeholder="Nhập từ khóa..">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>